modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 23220
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BPIgYBT7QNwWnCWaDMCJQBa7L6bcYkX9JS1wfm6-SGnQXGDIv3oUUxj10cxdwaDBZfcEM7ld9Djh40L9NUidCr4"
VAPID_PRIVATE_KEY = "C8QO9VyHhNIsNsJiKNO7pWFAQtHJHTCQm8BNnGZuUIs"
VITE_VAPID_PUBLIC_KEY = "BPIgYBT7QNwWnCWaDMCJQBa7L6bcYkX9JS1wfm6-SGnQXGDIv3oUUxj10cxdwaDBZfcEM7ld9Djh40L9NUidCr4"
